@{
    ViewData["Title"] = "Index";
}

@model List<string>

<h1>Index</h1>

<form method="post">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item <button type="submit" asp-controller="SortedSetType" asp-action="Delete" asp-route-name="@item" class="btn btn-danger">Sil</button>
            </li>
        }
    </ul>
</form>

<a class="btn btn-primary" href="SortedSetType/Add">Ekle</a>

